<div>
    There are <span class="text-white px-1" [ngClass]="getProductStatus()">{{count}}</span> products!
</div>
<div class="p-1" [textContent]="'Name: ' + (model.getProduct(selectId)?.name || 'None')"></div>
<div class="p-1">Name: {{model.getProduct(selectId)?.name || 'None'}}</div>
<input [type]="(inputType)" value="Test">
<div><button class="btn"
            [class.btn-info]="inputType === 'text'"
            [class.btn-warning]="inputType !== 'text'"
            (click)="changeType()">Change</button></div>
<a [attr.href]="link" [ngStyle]="style">{{link}}</a>