<div>
    There are {{getProductCount()}} products!
</div>
<div *ngIf="getProductCount() > 4" [class]="infoStyle">
    Threre are more than 4 products in the model
</div>
<div *ngIf="getProductByPosition(0).name !== 'Kayak'" [class]="infoStyle">
    Text
</div>
<div [style.visibility]="getProductCount() > 4 ? 'none' : 'hidden'" [class]="infoStyle">
    Attribute Threre are more than 4 products in the model
</div>
<div [style.visibility]="getProductByPosition(0).name !== 'Kayak' ? 'none' : 'hidden'" [class]="infoStyle">
    Text
</div>