<div class="text-danger" *ngIf="error?.length > 0">
    {{error}}
</div>
<form novalidate #form="ngForm" (ngSubmit)="addProduct(form)">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" [(ngModel)]="newProduct.name" required/>
    </div>
    <div class="form-group">
        <label>Category</label>
        <input class="form-control" name="category" [(ngModel)]="newProduct.category" required/>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="Price" [(ngModel)]="newProduct.price" required pattern="^[0-9]+$" />
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
</form>

<paDiscountEditor></paDiscountEditor>
<paDiscountDisplay></paDiscountDisplay>